<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>index page</h1>

    <div class="wrapper">

        <form action="/result" method="post">
            <p>Your Name<input type="text" name="name" required></p>
            <p>Dojo Location:
                <select name="dojo" required>
                    <option value="Berkeley">Berkeley</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Orange County">Orange County</option>
                </select>
            </p>
            <p>Favorite Language:
                <select name="language" required>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                    <option value="Javascript">JavaScript</option>
                </select>
            </p>
            <p>Comment:</p><textarea name="comment" cols="30" rows="10" placeholder="(optional)" required></textarea>
            <p><input type="submit"  value="Submit!"></p>

            
        
        </form>








    </div>
</body>
</html>