<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
</head>
<body>

    <main>

        <section>

            <h1>Create a new dog</h1>

            <form action="/create" method="post">
                Dog Name: <input type="text" name="name">

                Dog Breed: <input type="text" name="breed">

                Dog Speed: <select name="speed">
                    <% for(let i = 1; i<=10; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                    </select>

                Dog Intelligence: <select name="intelligence">
                    <% for(let i = 1; i<=10; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                    </select>

                <input type="submit" value="Create a Dog!">
            </form>

        </section>











    </main>
    
</body>
</html>