<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Here are some pictures of cats and stuff (with views and stuff):</h1>
    <p><a href="/cars">Use this link if you want to quickly get to the cars page</a></p>
    <a href="/cat1"><img src="/cats.jpg" alt="A cat picture"></a>
    <a href="/cat2"><img src="/cat2.jpg" alt="A cat picture"></a>
    <a href="/cat3"><img src="/cat3.jpg" alt="A cat picture"></a>
</body>
</html>